<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu - PetMatch</title>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="..//styles/global.css">
    <link rel="stylesheet" href="..//styles/menu.css">
</head>

<body>

    <header class="header">
        <div class="logo-and-title">
            <img src="../imgs/Design sem nome.svg" alt="Logo">
            <h1>PetMatch</h1>
        </div>
        <div class="login-section" id="loginSection">
            <!-- Link de login redirecionando para signup.html -->
            <a href="./signup.html" class="login-link" id="loginLink">
                <img src="../imgs/icone Login.svg" alt="Login" id="loginIcon">
                <span id="loginText">Sign-in/Login</span>
            </a>
            <!-- Botão de perfil para conta.html, exibido apenas se o usuário estiver logado -->
            <a href="conta.html" id="userProfile" class="user-profile" style="display: none;">
                <img src="../imgs/icone Login.svg" alt="User Icon">
            </a>
            <!-- Botão de logout, inicialmente escondido -->
            <button id="logoutButton" class="logout-btn" style="display: none;">Sair da conta</button>
        </div>
    </header>

    <div class="main">
        <h2>PetMatch</h2>
        <p>Conectando pessoas e animais, buscando seu parceiro ideal.</p>
        <div class="buttons">
            <a href="configs-pessoais.html" class="button">Configurações pessoais</a>
            <a href="configs-conta.html" class="button">Configurações de conta</a>
        </div>

    </div>

    <footer>
        <div class="footer">
            <p>&copy; 2024 PetMatch. All rights reserved.</p>
        </div>
    </footer>

    <script src="../src/auth/logout.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const isLoggedIn = localStorage.getItem("isLoggedIn");

            // Verifica se o usuário está logado
            if (isLoggedIn === "true") {
                // Oculta o link de login e exibe o botão de logout e o botão de perfil
                document.getElementById("loginLink").style.display = "none";
                document.getElementById("logoutButton").style.display = "block";
                document.getElementById("userProfile").style.display = "block";
            } else {
                // Exibe o link de login e oculta os botões de logout e perfil
                document.getElementById("loginLink").style.display = "block";
                document.getElementById("logoutButton").style.display = "none";
                document.getElementById("userProfile").style.display = "none";
            }
        });
    </script>
</body>

</html>