<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dicas - PetMatch</title>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/dicas.css">

</head>

<body>
    <header class="header">
        <div class="logo-and-title">
            <img src="../imgs/Design sem nome.svg" alt="Logo">
            <h1>PetMatch</h1>
    </header>
    </div>
    <div class="back-button">
        <button onclick="window.location.href='../index.html'">Voltar</button>
    </div>
    <main class="main">
        <h2 class="titulo">Dicas e cuidados</h2>
        <section class="tip-section">
            <h2>Baixe as Dicas</h2>
            <p>Está pronto para fazer a diferença na vida de um pet? Baixe nosso guia completo com dicas essenciais para
                adotar com responsabilidade e garantir o bem-estar do seu novo amigo. Vamos te ajudar a começar essa
                jornada da melhor maneira!"</p>
            <a href="../docs/dicas-cuidados.pdf" class="botao-download" download="dicas-cuidados.pdf">
                Baixar PDF
            </a>
    </main>
    <footer>
        <div class="footer">
            <p>&copy; 2024 PetMatch. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>