<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos - PetMatch</title>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="/styles/favoritos.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="../imgs/Design sem nome.svg" alt="Logo">
        </div>
        <h1>PetMatch</h1>
    </header>

    <div class="back-button">
        <button onclick="window.history.back()">&#8592; Voltar</button>
    </div>

    <div class="main">
        <h2>Pets Favoritos </h2>
        <div class="pets-section" id="pets-section">
        </div>
    </div>

    <footer>
        <div class="footer">
            <p>&copy; 2024 PetMatch. All rights reserved.</p>
        </div>
    </footer>
    <script src="../src/utils/dados.js"></script>
    <script src="../src/utils/scriptCards.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            renderizarFavoritos();
        });
    </script>
</body>
</body>

</html>