<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu a Senha - PetMatch</title>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/forgot-password.css">
</head>

<body>

    <header class="header">
        <div class="logo-and-title">
            <a href="menu.html">
                <img src="../imgs/Design sem nome.svg" alt="Logo">
            </a>
            <h1>PetMatch</h1>
        </div>
    </header>

    <div class="forgot-password-container">
        <div class="forgot-password-icon">
            <img src="../imgs/icone Login.svg" alt="User Icon">
        </div>
        <div id="forgotPasswordSection">
            <h2>Esqueceu a Senha?</h2>
            <p>Insira seu e-mail abaixo para redefinir sua senha. Enviaremos um link para o seu e-mail.</p>
        </div>

        <div class="forgot-password-form-container">
            <form id="forgotPasswordForm">
                <div class="input-group">
                    <input type="email" placeholder="Digite seu e-mail" name="email" id="forgotPasswordEmail" required>
                </div>
                <div class="forgot-password-buttons">
                    <button type="submit" class="forgot-password-btn">Enviar</button>
                </div>

                <div id="messageContainer" style="display: none;">
                    <p id="successMessage" style="color: green; font-size: 16px; text-align: center;">
                        Sua nova senha foi enviada!
                    </p>
                    <p id="countdownMessage" style="font-size: 14px; color: #333; text-align: center;">
                        Reenvio disponível em <span id="countdown">60</span> segundos.
                    </p>
                    <button id="resendButton" class="forgot-password-btn">
                        Reenviar código
                    </button>
                </div>
                

                <div class="forgot-password-buttons">
                    <a href="login.html" class="back-to-login-btn">Voltar para Login</a>
                </div>
            </form>
            <p id="forgotPasswordMessage" style="color:green;"></p> <!-- Mensagem de sucesso ou erro -->
        </div>
    </div>

    <script src="../src/auth/forgot-password.js"></script>

</body>
<footer>
    <div class="footer">
        <p>&copy; 2024 PetMatch. All rights reserved.</p>
    </div>
</footer>

</html>
