.main {
  position: relative;
  flex: 1;
  padding: 30px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 20px auto;
}

.main h2 {
  font-size: 28px;
  color: #333;
  font-weight: 600;
  margin-bottom: 20px;
}

.main p {
  color: #666;
  font-size: 18px;
}

input[type="file"] {
  display: none;
}

.custom-file-label {
  display: inline-block;
  width: 99%;
  padding: 10px 20px;
  color: #333;
  background-color: #f5d0d7;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
  text-align: start;
  transition: background-color 0.3s, transform 0.3s;
}

.custom-file-label:hover {
  background-color: #c38492;
  transform: scale(1.05);
}

.custom-file-label:active {
  background-color: #b36f84;
}

/* Estilo do formulário */
.form-group,
.form-group-menor,
.form-group-menor-idade {
  margin: 30px;
}

.form-group label {
  display: block;
  font-weight: ;
  margin-bottom: 10px;
  color: #333;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  background-color: #f5d0d7;
}

.form-group-menor-idade {
  text-align: start;
  width: 48%;
  border-radius: 5px;
  font-size: 16px;
}

.form-group-menor {
  text-align: start;
  width: 50%;
  border-radius: 5px;
  font-size: 16px;
}

.form-group-menor label,
.form-group-menor-idade label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.form-group-menor input,
.form-group-menor select,
.form-group-menor-idade input,
.form-group-menor-idade select {
  width: 90%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #f5d0d7;
}

button[type="submit"] {
  width: 250px;
  background-color: #d496a7;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  position: absolute;
  bottom: 140px;
  right: 12%;
}

button[type="submit"]:hover {
  background-color: #c38492;
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .main {
    width: 80%;
    padding: 20px;
  }

  button[type="submit"] {
    position: relative;
    margin: 20px auto;
    bottom: auto;
    right: auto;
    display: block;
    width: 200px;
    font-size: 16px;
  }
  .logo-and-title h1 {
    font-size: 28px;
  }

  .header {
    padding: 15px;
  }

  .back-button {
    margin-top: 10px;
  }
  .custom-file-label {
    padding: 10px 15px;
    font-size: 14px; 
    width: 100%; 
    text-align: center;
    .form-group-menor {
      text-align: start;
      width: 100%;
      border-radius: 5px;
      font-size: 16px;
    }
  }
}

@media (max-width: 600px) {
  .main {
    width: 90%;
    padding: 15px;
  }

  button[type="submit"] {
    width: 180px; 
    font-size: 14px; 
    padding: 12px; 
  }

  .logo-and-title h1 {
    font-size: 24px;
  }

  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .back-button {
    justify-content: center;
  }

  .form-group,
  .form-group-menor,
  .form-group-menor-idade {
    margin: 15px 0;
  }

  .form-group input,
  .form-group select,
  .form-group-menor input,
  .form-group-menor select {
    width: 90%;
  }
  .custom-file-label {
    padding: 8px 12px;
    font-size: 12px;
    width: 90%;
    margin: 0 auto;
  }
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%; 
}

.char-counter {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 0.75em; 
  color: rgba(0, 0, 0, 0.5); 
  pointer-events: none; 
}
